<%- include("../partials/header") %>
<!-- After booking appointment you get a success alert at top -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Congratulations <%= firstName %>, you have successfully booked an appointment <a href="/dashboard" class="alert-link">Dashboard</a> - Go to home page
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<%- include("../partials/footer") %>